<html lang="en">
<head>
    <h1>@@@</h1>
</head>
<body class="container">

<header>
    <h1>$$$$</h1>
</header>

<main>
    <div>
        <h1>This is your <%= name %></h1>
        <h1 style="color:red"><%= name=='chaya'?'you are the owner':'you are not the owner' %></h1>
        <p>Welcome !!!</p>
    </div>
</main>

<footer>
    <h4>have a nice day</h4>
</footer>

</body>
</html>